<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    
    <title>Q & A & A & A</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src='/js/jquery-2.2.1.min.js' type='text/javascript'></script>
    <script src='/js/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='/js/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='/js/jquery.fileupload.js' type='text/javascript'></script>
    <script src='/js/jquery.cloudinary.js' type='text/javascript'></script>

    <link rel="stylesheet" href="/app.css" />

    
  </head>
  <body>
    
    <!-- Put everything in the container -->
    <div class="container">
      
      <div class="page-header">    
        <h1>Q <span style="color: grey">& A</span> <span style="color: darkgrey">& A</span> <span style="color: lightgrey;"> & A</span></h1>
      </div>

      <div class="btn-group" role="group" aria-label="...">
        <a href="/list" class="btn  btn-default">Home</a>
        <a href="/new" class="btn  btn-default">Ask a Question</a>
        {{#if user }}
          <a href="/logout" class="btn  btn-default">Sign Out</a>
        {{ else }}
          <a href="/login" class="btn  btn-default">Sign In</a>          
        {{/if }}
      </div>

	  <div class="row">
	    <div class="col-md-7">
          
          {{#if messages.info}}
            <div class="alert alert-success">
              <span>{{ messages.info }}</span>
            </div>
          {{/if }}
          {{#if messages.error}}
            <div class="alert alert-danger">
              <span>{{ messages.error }}</span>
            </div>
          {{/if }}
          
          <h3>{{ pageTitle }}</h3>
          
          {{{body}}}

        </div>
      </div>
    </div>
    
  </body>
</html>